<footer class="w-full flex flex-col text-lg tracking-wide px-4 sm:px-0 pt-6 pb-4 gap-4">
  <div class="flex flex-row self-center">
    {% for item in footerLinks %}
      <div class="flex flex-col font-light text-sm items-center">
        {{ item.title }}
        <a href="{{ item.url }}" target="_blank" class="underline">{{ item.urlDisplay }}</a>
      </div>
      {% if not loop.last %}
        <div class="bg-gray-300 w-[1px] min-h-full mx-4"></div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="w-full">
    <span class="block text-center text-gray-800 text-sm font-light">
      &copy; 2025 Remote Rift
    </span>
  </div>
</footer>
<a
  id="home-button"
  class="fixed bottom-0 right-0 mb-4 mr-4 text-gray-200 border rounded-full border-brand-600 hover:bg-gray-200
    hover:text-brand-600 hover:border-browngray no-underline w-12 h-12 flex items-center justify-center bg-brand-600
    shadow-md"
  href="#top"
  title="Back to Top">
  {% include "icon.arrow_up.njk" %}
</a>