{% for item in collections.sections %}
  {% if item.data.type === 'download' %}
    <div
      id="download"
      class="w-full min-h-screen flex flex-col justify-center items-center bg-gray-800 pb-12 px-4 md:px-8 lg:px-12 gap-8
        md:gap-12 lg:gap-16">
      <div class="self-center text-center w-full sm:w-2/3 xl:w-1/2 px-4 sm:px-0">
        <h2 class="font-bold tracking-widest text-gray-100 text-4xl mb-4">{{ item.data.title }}</h2>
        <div class="font-light text-gray-300 text-xl">
          {{ item.templateContent | safe }}
        </div>
      </div>
      <div class="flex flex-col sm:flex-row gap-4 md:gap-8 lg:gap-12 text-gray-100 ">
        {% for item in downloads %}
          <div class="flex flex-col max-w-[420px] items-center p-4 md:p-8 lg:p-12 rounded-xl bg-gray-700/30 shadow-lg">
            <p class="font-bold text-2xl mb-2">{{ item.title }}</p>
            <p class="text-center mt-2 mb-6 text-gray-300">{{ item.description }}</p>
            {% for link in item.links %}
              <div class="relative inline-block mt-2">
                {% if link.label %}
                  <div class="flex flex-row w-40 px-4 py-2 my-1 bg-brand-600 border border-transparent hover:border-brand-500 rounded-full
                      justify-center cursor-default opacity-50">
                    {% include "icon.download.njk" %}
                    {{ link.label }}
                  </div>
                {% elif link.icon %}
                  <img src="{{ env.baseUrl }}img/{{ link.icon }}" alt="Download icon" class="h-10 my-1 cursor-default opacity-50"/>
                {% endif %}
                <span class="absolute -top-1 -right-2 text-[10px] bg-brand-600 text-white px-2 py-0.5 rounded-full shadow-md border
                    border-white cursor-default">
                  Coming soon
                </span>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endfor %}