{% for item in collections.sections %}
  {% if item.data.type === 'features' %}
    <div id="features" class="w-full min-h-screen flex flex-col justify-between items-center bg-brand-charcoal-500">
      <div></div>
      <div class="flex flex-col items-center my-12">
        <div class="self-center text-center w-full sm:w-2/3 xl:w-1/2 px-4 sm:px-0">
          <h2 class="tracking-wide text-gray-200 font-bold text-4xl mb-4">{{ item.data.title }}</h2>
          <div class="font-light text-gray-200 text-xl mb-6">
            {{ item.templateContent | safe }}
          </div>
        </div>
        <div class="self-center w-full xl:w-4/5 max-w-[1280px] flex flex-col sm:flex-row flex-wrap px-4 xl:px-0">
          {% for item in features %}
            <div class="w-full sm:w-1/2 flex flex-row flex-no-wrap justify-start gap-4 rounded-xl hover:shadow-lg hover:bg-brand-charcoal-600
                hover:bg-opacity-50 px-4 sm:px-8 py-6 sm:py-12">
              <img src="{{ env.baseUrl }}img/{{ item.icon }}" alt="{{ item.title }}" class="w-12 h-12 self-start">
                <div class="flex flex-col">
                  <h3 class="tracking-wide text-gray-200 font-bold text-2xl mb-2">{{ item.title }}</h3>
                  <div class="font-light text-gray-200 text-lg">
                    {{ item.content | markdown | safe }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="flex flex-row w-full justify-center pb-12">
          <a
            class="px-10 py-2 text-white hover:text-brand-600 bg-brand-600 hover:bg-gray-200 border border-brand-600 rounded-full
              shadow-md text-lg"
            href="#download">Download Now</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}