{% for item in collections.sections %}
  {% if item.data.type === 'about' %}
    <div class="flex flex-col justify-center h-full py-12">
      <div class="self-center text-center w-full sm:w-2/3 xl:w-1/2 px-4 sm:px-0">
        <h2 class="font-bold tracking-wider text-gray-800 text-4xl mb-4">{{ item.data.title }}</h2>
        <div class="font-light text-black text-xl">
          {{ item.templateContent | safe }}
        </div>
        <img class="my-12 max-h-64 max-w-full mx-auto" src="{{ env.baseUrl }}img/showcase.png" alt="Remote Rift"></div>
      </div>
      <div class="flex flex-row w-full justify-center pb-12">
        <a
          class="px-10 py-2 text-white hover:text-brand-600 bg-brand-600 hover:bg-white border border-brand-600 rounded-full
            shadow-md text-lg"
          href="#features">
          More Information
        </a>
      </div>
    </div>
  {% endif %}
{% endfor %}